{% extends 'shop/layout.html.twig' %}
{% block title %}Adresse{% endblock %}

{% block breadcrumb %}
<div class="breadcrumbs">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">Identification</li>
            <li class="breadcrumb-item active" aria-current="page">Adresse</li>
            <li class="breadcrumb-item">Livraison</li>
            <li class="breadcrumb-item">Récapitulatif</li>
            <li class="breadcrumb-item">Paiement</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block shop_content %}
<header class="mb-4">
    <h1>Adresse de livraison</h1>
</header>

{{ form_start(address_form, { 'attr': { 'id': 'address-form' }}) }}
    {% include "shop/account/address_form.html.twig" with {'address_form': address_form} %}
{{ form_end(address_form) }}
<input type="submit" form="address-form" value="Suivant" class="btn btn-primary">

{% endblock %}
