{% extends 'shop/layout.html.twig' %}
{% block title %}Adresse{% endblock %}

{% block shop_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Identification</li>
      <li class="breadcrumb-item active" aria-current="page">Adresse</li>
      <li class="breadcrumb-item">Livraison</li>
      <li class="breadcrumb-item">Récapitulatif</li>
      <li class="breadcrumb-item">Paiement</li>
    </ol>
</nav>

{% include "shop/account/address_form.html.twig" %}

<a href="{{ path('checkout_shipping') }}" class="btn btn-primary">Suivant</a>

</form>

{% endblock %}
