@import "node_modules/bootstrap/scss/bootstrap";

.tr-link {
    cursor: pointer;
}

.flash {
    position: fixed;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

.add-image {
    outline: 1px dotted #ccc;
    font-size: 5rem;
    min-height: 400px;
}
