{% extends 'admin/layout.html.twig' %}
{% block title %}Administration{% endblock title %}

{% block admin_content %}
    <header class="mb-4">
        <h1>Administration</h1>
    </header>
    <p>{{ product_rows }} produits en vente</p>
    <p>{{ total_revenue }} € de chiffre d'affaires</p>

{% endblock %}
