{% extends 'admin/layout.html.twig' %}
{% block title %}Administration{% endblock title %}

{% block admin_content %}
    <h1 class="mb-4">Administration</h1>
    <p>{{ product_rows }} produits en vente</p>
    <p>{{ total_revenue }} € de chiffre d'affaires</p>

{% endblock %}
