{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-md-nowrap">
            <nav class="sidebar col-md-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_index') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_product-editor') }}">Ajouter un produit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_all-products') }}">Tous les produits</a>
                    </li>
                </ul>
            </nav>
            
            <main class="col-md-9 py-4">
            {% block admin_content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
