{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-md-nowrap">
            <div class="d-md-none col-12 my-3 d-flex justify-content-end">
                <button class="btn" data-toggle="collapse" data-target="#sidebar">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <nav id="sidebar" class="sidebar d-md-block collapse col-12 col-md-3 col-lg-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_index') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_product-editor') }}">Ajouter un produit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_product-index') }}">Tous les produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_order-index') }}">Commandes</a>
                    </li>
                </ul>
            </nav>
            
            <main class="col-md-10 py-5">
            {% block admin_content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
