{% extends 'shop/layout.html.twig' %}
{% block title %}Confirmation de commande{% endblock %}

{% block shop_content %}
<header>
    <h1>Confirmation de commande</h1>
</header>

<p>Merci pour votre commande, vous allez recevoir un email de confirmation.</p>

{% endblock %}
