<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light">
                <a href="/" class="navbar-brand">Brand</a>
                <a href="/basket">Panier ({{ render(controller('App\\Controller\\BasketController::productCount')) }})</a>
            </nav>
        </header>
        <main class="container">
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
