{% extends 'shop/layout.html.twig' %}
{% block title %}Mon compte{% endblock title %}

{% block shop_content %}

<a href="{{ path('user_edit-address') }}">Mon addresse</a>
<a href="{{ path('user_change-password') }}">Changer de mot de passe</a>

{% endblock %}
