{% extends 'shop/layout.html.twig' %}
{% block title %}Mon compte{% endblock title %}

{% block shop_content %}

<header class="mb-4">
    <h1>Mon compte</h1>
</header>

<nav class="account-nav">
    <ul class="nav nav-tabs user-account-tabs">
        <li class="nav-item">
            <a href="#" class="nav-link active">Compte</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('user_orders') }}" class="nav-link active">Commandes</a>
        </li>
    </ul>
</nav>

<section class="card">
    <header class="card-header">
        <h3>Identification</h3>
    </header>
    <div class="row card-body">
        <div class="col">
            <h4>email</h4>
            <p>{{ app.user.email }}</p>
        </div>
        <div class="col">
            <h4>Mot de passe</h4>
            <a href="{{ path('security_change-password') }}" class="btn btn-secondary">Changer</a>
        </div>
    </div>
</section>

<section class="user-contact mt-4">
    <div class="card mb-4">
        <header class="card-header">
            <h3>Coordonnées <small class="text-secondary">(adresse de facturation)</small></h3>
        </header>
        <div class="card-body">
            {{ render(controller(
                'App\\Controller\\UserController::editAddress'
            ))}}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" form="user-contact-form" value="Sauvegarder" class="btn btn-primary">
    </div>
</section>

{% endblock %}
