{% extends 'shop/layout.html.twig' %}
{% block title %}Commande # {{ order.id }}{% endblock title %}

{% block shop_content %}

<header>
    <h1>Commande # {{ order.id }}</h1>
</header>

{% endblock %}