{% extends 'shop/layout.html.twig' %}

{% block shop_content %}

<h1 class="pb-4 text-center border-bottom">Bienvenue</h1>

<div class="row pt-4">
    <section class="login col pr-4">
        <h4>J'ai déjà un compte</h4>
        {{ render(controller('App\\Controller\\UserController::login')) }}
    </section>

    <section class="register col border-left pl-4">
        <h4>Nouveau client</h4>
        {{ render(controller('App\\Controller\\UserController::register')) }}
    </section>
</div>

{% endblock %}
