{% extends 'base.html.twig' %}
{% block title %}Mon compte{% endblock title %}

{% block main %}

<a href="{{ path('user_edit-address') }}">Mon addresse</a>
<a href="{{ path('user_change-password') }}">Changer de mot de passe</a>

{% endblock %}
